@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* Переменные */
:root {
  /* Цвета */
  --white: #fff;
  --black: #333;
  --gray: #f3f5fa;
  --gray-2: #ebeef6;
  --gray-3: #dfe1e6;
  --gray-4: #d0d2d8;
  --gray-5: #7d8086;
  --gray-6: #717378;
  --blue: #2a32ed;
  --blue-2: #e8e9ff;
  --blue-3: #777add;
  --blue-4: #2429cc;
  --blue-5: #a1bbfa;
  --blue-6: #050faf;
  --blue-gray: #cdd5e8;
  --blue-gray-2: #c4cbde;
  --blue-gray-3: #8291b5;
  --blue-gray-4: #e1e9f5;
  --green: #2bab3c;
  --green-2: #bffa8f;
  --green-3: #259a35;
  --green-4: #68db3b;
  --red: #cc2929;
  --red-2: #ffc9c9;
  --red-3: #ff9898;
  --red-4: #a42222;
  --orange: orange;
  --orange-2: #ab4700;
  --orange-3: #ffce8a;
  --purple: #d3bbff;
  --purple-2: #9f19ff;
  --yellow: #fff1ae;
  --yellow-2: #af8900;
  --yellow-3: #ffd82c;
  --pink: #ffbeda;
  --pink-2: #a00d54;
  --yellow-dark: #af8900;

  /* Шрифты */
  --body: 400 9px/100% "Montserrat", sans-serif;
  --body1: 400 12px/100% "Montserrat", sans-serif;
  --body2: 550 14px/100% "Montserrat", sans-serif;
  --body3: 600 17px/100% "Montserrat", sans-serif;
  --link: 500 12px/100% "Montserrat", sans-serif;
  --button: 550 12px/100% "Montserrat", sans-serif;

  /* Падинги на странице */
  --header-border-padding: 100px;
  --page-padding: 20px;

  /* Шапка */
  --header-height: 65px;
}


/* Сброс стилей */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Удаление обводки при фокусе */
:focus,
:active {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

a:focus,
a:active {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

/* Стили для полосы прокрутки */
::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background-color: var(--gray);
  cursor: pointer;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--gray-2);
}

/* Основные стили */
html,
body,
#root,
.App {
  display: flex;
  width: 100%;
  min-height: 100vh;
  scroll-behavior: smooth;
  background-color: var(--white);
}

html.--noscroll,
body.--noscroll,
#root.--noscroll,
.App.--noscroll {
  overflow: hidden !important;
}

a {
  text-decoration: none;
  color: inherit;
  font: inherit;
}

input {
  border: 0;
  background: none;
  outline: none;
}

img {
  width: 100%;
  display: block;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}
