/* src/components/inputs/DefaultUsernameInputStyle.css */

/* Общие стили для блока ввода username */
.dui-username-input-block {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* Стили для метки (label) */
.dui-username-input-block label {
    margin-bottom: 8px;
    font-size: var(--default-font-size);
    color: var(--black);
    font-weight: 500;
}

/* Стили для поля ввода username */
.dui-username-input-block .dui-username-input {
    padding: 11.8px 12px;
    border: 1px solid #ccc;
    border-radius: 12px;
    font-size: var(--default-font-size);
    transition: border-color 0.3s, box-shadow 0.3s;
}

/* Стили для поля ввода при фокусе */
.dui-username-input-block .dui-username-input:focus {
    border-color: var(--beige);
    box-shadow: 0 0 10px var(--light-beige-1);
    outline: none;
}

/* Стили для placeholder */
.dui-username-input-block .dui-username-input::placeholder {
    color: #aaa;
    font-style: italic;
    font-size: calc(var(--default-font-size) - 1px);
}

/* Дополнительные стили для улучшения визуального восприятия */
.dui-username-input-block .dui-username-input:disabled {
    background-color: #f5f5f5;
    border-color: #ddd;
    cursor: not-allowed;
}

.dui-username-input-block .dui-username-input.error {
    border-color: var(--red);
    box-shadow: 0 0 2px var(--red);
}

/* Сообщения об ошибках */
.dui-error-message {
    color: var(--red);
    font-size: var(--error-message-font-size);
    margin-top: 5px;
}

/* Звездочка для обязательных полей */
.dui-required {
    color: var(--red);
    margin-left: 4px;
}
