@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

/* Thin (100) */
@font-face {
  font-family: 'Helvetica Neue Custom';
  src: url('./assets/fonts/helvetica-neue-5/HelveticaNeueThin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue Custom';
  src: url('./assets/fonts/helvetica-neue-5/HelveticaNeueThinItalic.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

/* UltraLight (200) */
@font-face {
  font-family: 'Helvetica Neue Custom';
  src: url('./assets/fonts/helvetica-neue-5/HelveticaNeueUltraLight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue Custom';
  src: url('./assets/fonts/helvetica-neue-5/HelveticaNeueUltraLightItalic.otf') format('opentype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

/* Light (300) */
@font-face {
  font-family: 'Helvetica Neue Custom';
  src: url('./assets/fonts/helvetica-neue-5/HelveticaNeueLight.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue Custom';
  src: url('./assets/fonts/helvetica-neue-5/HelveticaNeueLightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/* Regular / Roman (400) */
@font-face {
  font-family: 'Helvetica Neue Custom';
  src: url('./assets/fonts/helvetica-neue-5/HelveticaNeueRoman.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue Custom';
  src: url('./assets/fonts/helvetica-neue-5/HelveticaNeueItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Medium (500) */
@font-face {
  font-family: 'Helvetica Neue Custom';
  src: url('./assets/fonts/helvetica-neue-5/HelveticaNeueMedium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue Custom';
  src: url('./assets/fonts/helvetica-neue-5/HelveticaNeueMediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

/* Bold (700) */
@font-face {
  font-family: 'Helvetica Neue Custom';
  src: url('./assets/fonts/helvetica-neue-5/HelveticaNeueBold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue Custom';
  src: url('./assets/fonts/helvetica-neue-5/HelveticaNeueBoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* Heavy (800) */
@font-face {
  font-family: 'Helvetica Neue Custom';
  src: url('./assets/fonts/helvetica-neue-5/HelveticaNeueHeavy.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue Custom';
  src: url('./assets/fonts/helvetica-neue-5/HelveticaNeueHeavyItalic.otf') format('opentype');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

/* Black (900) */
@font-face {
  font-family: 'Helvetica Neue Custom';
  src: url('./assets/fonts/helvetica-neue-5/HelveticaNeueBlack.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue Custom';
  src: url('./assets/fonts/helvetica-neue-5/HelveticaNeueBlackItalic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}



/* ######################################## */

/* Thin (100) */
@font-face {
  font-family: 'Avenir Next W1G';
  src: url('./assets/fonts/avenir-next-w1g/avenir-next-w1g-thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir Next W1G';
  src: url('./assets/fonts/avenir-next-w1g/avenir-next-w1g-thin-italic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

/* UltraLight (200) */
@font-face {
  font-family: 'Avenir Next W1G';
  src: url('./assets/fonts/avenir-next-w1g/avenir-next-w1g-ultralight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir Next W1G';
  src: url('./assets/fonts/avenir-next-w1g/avenir-next-w1g-ultralight-italic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

/* Light (300) */
@font-face {
  font-family: 'Avenir Next W1G';
  src: url('./assets/fonts/avenir-next-w1g/avenir-next-w1g-light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir Next W1G';
  src: url('./assets/fonts/avenir-next-w1g/avenir-next-w1g-light-italic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/* Regular (400) */
@font-face {
  font-family: 'Avenir Next W1G';
  src: url('./assets/fonts/avenir-next-w1g/avenir-next-w1g-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir Next W1G';
  src: url('./assets/fonts/avenir-next-w1g/avenir-next-w1g-italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Medium (500) */
@font-face {
  font-family: 'Avenir Next W1G';
  src: url('./assets/fonts/avenir-next-w1g/avenir-next-w1g-medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir Next W1G';
  src: url('./assets/fonts/avenir-next-w1g/avenir-next-w1g-medium-italic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

/* Demi (600) */
@font-face {
  font-family: 'Avenir Next W1G';
  src: url('./assets/fonts/avenir-next-w1g/avenir-next-w1g-demi.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir Next W1G';
  src: url('./assets/fonts/avenir-next-w1g/avenir-next-w1g-demi-italic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

/* Bold (700) */
@font-face {
  font-family: 'Avenir Next W1G';
  src: url('./assets/fonts/avenir-next-w1g/avenir-next-w1g-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir Next W1G';
  src: url('./assets/fonts/avenir-next-w1g/avenir-next-w1g-bold-italic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* Heavy (800) */
@font-face {
  font-family: 'Avenir Next W1G';
  src: url('./assets/fonts/avenir-next-w1g/avenir-next-w1g-heavy.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir Next W1G';
  src: url('./assets/fonts/avenir-next-w1g/avenir-next-w1g-heavy-italic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}



/* Переменные */
:root {
  /* Цвета */
  --black: #313131;
  --black-light-1: #2c2c2c;
  --dark-blue-1: #151998;
  --blue-2: #2a75bb;
  --blue: #2127cf;
  --light-blue-1: #e8e8ff;
  --light-blue-2: #f0f0fe;
  --light-blue-3: #e6effb;
  --light-blue-4: #d8eaff;
  --beige: #e6b292;
  --dark-beige-1: #d8a789;
  --light-beige-1: #f5ebe5;
  --gray: gray;
  --dark-gray-1: #7A7A7A;
  --light-gray-1: #e4e4e4;
  --light-gray-2: #dbdbdb;
  --dark-green-1: #2baf41;
  --green: #34CE4E;
  --light-green-1: #e6fbeb;
  --light-green-2: #7ace88;
  --haki: #EAE3CE;
  --dark-haki: #B89849;
  --orange: #F18024;
  --dark-orange: #DE6B0E;
  --light-orange: #FFEFC1;
  --purple: #C027ED;
  --light-purple: #7C7FA3;
  --red: #C43D4B;
  --light-red-1: #ff535b;
  --light-red-2: #ffe1e4;
  --light-red-3: #d26f79;

  --dark-red: #9c313c;
  --white: #fff;

  --light-yellow-1: #fff8e2;
  --yellow: #FFC107;
  --dark-yellow-1: #e1a900;

  /* Цвета фона */
  --main-window-gray: var(--white);
  --page-bg: var(--white);
  --header-bg: var(--black);

  /* Цвет текста */
  --text-color: var(--black);

  /* Тени */
  --header-shadow: 0px 0px 20px rgba(0, 0, 0, 0.20);
  --footer-shadow: 0px 0px 20px rgba(0, 0, 0, 0.20);

  --box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
  --box-shadow--active: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
  --card-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.10);
  --card-box-shadow--active: 0px 0px 20px rgba(0, 0, 0, 0.30);
  --box-shadow-modal: 0px 0px 5px rgba(0, 0, 0, 0.20);
  --topleft-box-shadow: -3px -3px 4px rgba(0, 0, 0, 0.15);
  --bottomright-box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.15);

  /* Шрифты */
  --default-font-size: 12px;
  --error-message-font-size: 12px;
  --header-logo-font-size: calc(var(--default-font-size) + 10px);

  /* Падинги на странице */
  --main-content-padding: 90px;


  /* Размеры */
  --header-height: 57px;
}

/* Сброс стилей */
* {
  padding: 0;
  margin: 0;
  /* Helvetica Neue Custom */
  /* Avenir Next W1G */
  font-family: "Avenir Next W1G", "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  color: var(--black)
}

/* Удаление обводки при фокусе */
:focus,
:active {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

a:focus,
a:active {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

/* Стили для полосы прокрутки */
::-webkit-scrollbar {
  width: 0;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background-color: var(--light-gray-1);
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--light-gray-2);
}

/* Основные стили */
html,
body,
#root {

  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;

  background-color: var(--main-window-gray);
}

.App,
main {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

  position: relative;
}

html.--noscroll,
body.--noscroll,
#root.--noscroll,
.App.--noscroll {
  overflow: hidden !important;
}


.main {
  margin-top: var(--header-height);
  min-height: calc(100vh - var(--header-height));
}

.mainBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 70px;
}


@media screen and (max-width: 1350px) {

  :root {
    /* Падинги на странице */
    --main-content-padding: 15px;
  }

}


@media screen and (max-width: 1110px) {

  :root {
    /* Размеры */
    --header-height: 50px;
  }

}


@media screen and (max-width: 800px) {

  :root {
      --default-font-size: 11px;
  }

  .mainBlock {
    row-gap: 50px;
  }

}