.aside {
  position: absolute;
  z-index: 99;
  bottom: 0;
  top: var(--header-height);
  left: 0;
  width: var(--aside-min-width);
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  box-shadow: 0px 97px 27px rgba(163, 159, 193, 0),
              0px 62px 25px rgba(163, 159, 193, 0.01),
              0px 35px 21px rgba(163, 159, 193, 0.03),
              0px 16px 16px rgba(163, 159, 193, 0.06),
              0px 4px 9px rgba(163, 159, 193, 0.07);
  transition: width 0.5s ease;
}

.asideWide {
  width: var(--aside-max-width);
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 42px 12px 22px 12px;
  box-sizing: border-box;
  overflow-x: hidden;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sectionBlock {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.sectionTitle {
  text-transform: uppercase;
  padding-top: 3px;
  font: var(--body3);
  letter-spacing: 1px;
  white-space: nowrap;
  visibility: hidden;
  display: none;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s;
}

.sectionTitleVisible {
  visibility: visible !important;
  opacity: 1 !important;
  display: block;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: var(--gray-2);
}

.menuItemLink {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: var(--black);
  text-decoration: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: transparent;
  transition: color 0.4s, fill 0.4s;
}

.menuItemLink:hover svg {
  fill: var(--blue);
}

.menuItemLink:hover .itemTitle {
  color: var(--blue);
}

.menuItemLinkWide {
  justify-content: flex-start;
  padding: 0 8px;
  box-sizing: border-box;
}

.menuItemLinkActive svg {
  fill: var(--blue) !important;
}

.menuItemLinkActive span {
  color: var(--blue);
}

.itemTitle {
  visibility: hidden;
  opacity: 0;
  display: none;
  color: var(--gray-4);
  font: var(--body1);
  white-space: nowrap;
  transition: visibility 0.3s, opacity 0.3s, color 0.4s;
}

.itemTitleVisible {
  visibility: visible !important;
  opacity: 1 !important;
  display: flex !important;
}

.icon svg {
  fill: var(--gray-4);
  height: 21px;
  width: 21px;
  transition: fill 0.4s;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 13px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.toggleIconOpen svg {
  fill: var(--blue);
  transform: rotate(-180deg);
  transition: transform 0.5s ease;
}
