:root {
  --row-height: 70px;
  /* базовая высота строки (если нужно) */
  --expanded-extra-height: 621px;
  /* полная высота раскрытой строки */
}

.wrapper {
  margin: 10px 8px;
  /* Стекло */

}

/* Одна строка таблицы (контейнер grid-строки) */
.row {
  align-items: center;
  padding: 4px 10px;
  box-sizing: border-box;
  transition: background-color 0.3s;
  font: var(--body1);

  background: var(--glass-bg);
  backdrop-filter: blur(var(--glass-blur));
  -webkit-backdrop-filter: blur(var(--glass-blur));
  border: var(--glass-border);
  border-radius: 10px;
  box-shadow: var(--shadow-icon);
}

.row:hover {
  background-color: var(--blue6);
}

/* Ячейка */
.cell {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  font: var(--body1);
  padding: 0 5px;
  box-sizing: border-box;
  cursor: default;
  overflow: hidden;
}

/* Раскрытая часть под строкой */
.expandedContent {
  display: flex;
  box-sizing: border-box;
  background-color: var(--red);
}

/* когда нажали ПКМ на строке */
.rowActive {
  background: var(--blue6);
}