/* src/components/inputs/DefaultSelectInputStyle.css */

/* Общие стили для блока ввода селекта */
.si-text-input-block {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* Стили для метки (label) */
.si-label {
    margin-bottom: 8px;
    font-size: var(--default-font-size);
    color: var(--black);
    font-weight: 500;
}

/* Звездочка для обязательных полей */
.si-required {
    color: var(--red);
    margin-left: 4px;
}

/* Стили для контейнера селекта */
.si-input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 12px;

}

.react-select__control {
    border-radius: 12px !important;
}

/* Стили для react-select */
.si-text-input {
    width: 100%;
    font-size: var(--default-font-size);
    border-radius: 12px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

/* Стили для react-select при ошибке */
.si-text-input.error .react-select__control {
    border-color: var(--red) !important;
    box-shadow: 0 0 2px var(--red) !important;
}

/* Стили для react-select при фокусе */
.si-text-input .react-select__control--is-focused {
    border-color: var(--blue) !important;
    box-shadow: 0 0 10px var(--light-blue-1) !important;
}

.react-select__menu {
    z-index: 20 !important;
}

/* Стили для placeholder */
.react-select__placeholder {
    color: #aaa;
    font-style: italic;
    font-size: calc(var(--default-font-size) - 1px);
}

/* Стили для disabled состояния */
.react-select__control--is-disabled {
    background-color: #f5f5f5;
    border-color: #ddd;
    cursor: not-allowed;
}

/* Сообщения об ошибках */
.si-error-message {
    color: var(--red);
    font-size: var(--error-message-font-size);
    margin-top: 5px;
}


