.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
}

.titlesBlock {
  max-height: 100%;
  width: fit-content;
  max-width: 94%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  gap: 3px;
  overflow-y: auto;
}

.titleBlock {
  display: flex;
  flex-direction: column;
}

.title {
  width: 100%;
  font: var(--body1);
  font-weight: 500;
  color: var(--black);
  padding: 0 4px;
  border: 1px solid transparent;

  min-width: 0;
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition:
    background-color 0.3s,
    border-color 0.3s,
    padding 0.3s;
}

.secondaryTitleBlock {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.secondaryTitle {
  font: var(--body-1);
  color: var(--gray3);
  padding: 0 4px;
  border: 1px solid transparent;

  min-width: 0;
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition:
    background-color 0.3s,
    border-color 0.3s,
    padding 0.3s;
}

.img {
  height: 18px;
  width: 18px;
  border-radius: 100%;
}

.iconsGalery {
  display: flex;
  gap: 10px;
}

.iconsGaleryIcon {
  height: 16px;
  width: 16px;
  cursor: pointer;
}

.roundedNum {
  height: 22px;
  width: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  font: var(--body0);
  color: var(--red);
  background-color: var(--border-accent);
}

.status {
  height: 12px;
  width: 12px;
  border-radius: 100%;
}

.status__active {
  background-color: var(--green);
}

.status__archived {
  background-color: var(--pink);
}

.status__negative {
  background-color: var(--gray4);
}

/* Кнопка копирования */
.copyBtn {
  min-width: 21px;
  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--gradient-darkgray);
  box-shadow: var(--shadow-icon);
  border: 0.5px solid var(--gray6);
  opacity: 0.5;

  padding: 4px;
  border-radius: 6px;
  cursor: pointer;
  transition: opacity 0.3s;
}

.copyBtn:hover {
  opacity: 1;
}

.copyBtn_Active {
  opacity: 1;
}

.copyIcon {
  height: 13px;
  width: 13px;
  fill: var(--white);
  transition: fill 0.3s;
}

.copyMenu {
  position: absolute;
  left: 30px;
  height: 40px;
  width: 200px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  padding: 3px 0;
}

.copyTitleMenyBtn {
  width: fit-content;
  padding: 1px 0px;
  border: 1px solid var(--gray4);
  background-color: var(--gray7);
  border-radius: 3px;
  cursor: pointer;
  transition:
    background-color 0.3s,
    border-color 0.3s,
    padding 0.3s;
}

.copyTitleMenyBtn:hover {
  background-color: var(--blue7);
}

.copySecTitleMenyBtn {
  width: fit-content;
  border: 1px solid var(--gray4);
  border-radius: 3px;
  background-color: var(--gray7);
  cursor: pointer;
  padding: 1px 0px;

  transition:
    background-color 0.3s,
    border-color 0.3s,
    padding 0.3s;
}

.copySecTitleMenyBtn:hover {
  background-color: var(--blue7);
}

.copyMenu_Open {
  display: flex;
}

.functionBlock {
  height: 25px;
  width: 25px;
  padding: 1px 2px;
  border: 0.5px solid transparent;
  border-radius: 4px;
  transition:
    background-color 0.3s,
    border-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  cursor: pointer;
}

.functionBlock:hover {
  background-color: var(--red);
  border-color: var(--green);
}

.functionIcon {
  height: 18px;
  width: 18px;
  fill: var(--red);
}