@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Переменные */
:root {
    /* Цвета */
    --white: #FFF;
    --black: #333;
    --gray-gray-1: #F3F5FA;
    --gray-gray-2: #DFE1E6;
    --gray-gray-3: #C1C3C8;
    --gray-gray-4: #717378;
    --gray-gray-5: #7d8086;
    --blue: #0a57e6;
    --blue-dark-1: #074bc8;
    --blue-light-1: #e6ebf4;
    --blue-light-2: #7a9edf;
    --blue-light-3: #5285e3;
    --blue-light-4: #2f6de1;
    --blue-light-5: #d4def1;
    --green: #2bab3c;
    --green-light: rgb(241, 255, 230);
    --green-dark: #259a35;
    --red: #cc2929;
    --red-ligh: #FF9898;
    --red-dark: #a42222;
    --beige: #e6b292;
    --light-beige-1: #f5ebe5;
    --dark-beige-1: #d8a789;

    --light-black: #313131;
    --dark-blue-1: #151998;
    --blue-2: #2a75bb;


    --dark-gray: #7A7A7A;
    --light-gray-1: #F3F3F3;
    --light-gray-2: #dbdbdb;
    --light-gray-3: #fafafa;
    --dark-green-1: #2baf41;
    --light-green-1: #e6fbeb;
    --light-green-2: #7ace88;
    --haki: #EAE3CE;
    --dark-haki: #B89849;
    --orange: #F18024;
    --dark-orange: #DE6B0E;
    --light-orange: #FFEFC1;
    --purple: #C027ED;
    --adskill-purple: #2C40F2;
    --adskill-purple--hover: #2638db;
    --light-purple: #7C7FA3;
    --light-red-1: #ffe1e4;
    --light-red-2: #d26f79;

    --dark-red: #9c313c;

    --light-yellow-1: #fff8e2;
    --yellow: #FFC107;
    --dark-yellow-1: #e1a900;

    /* Цвета фона */
    --main-window-gray: var(--gray-gray-1);

    /* Тени */
    --box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
    --box-shadow--active: 0px 0px 2px 1px rgba(0, 0, 0, 0.25);
    --card-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.10);
    --card-box-shadow--active: 0px 0px 20px rgba(0, 0, 0, 0.20);
    --box-shadow-modal: 0px 0px 5px rgba(0, 0, 0, 0.20);
    --topleft-box-shadow: -3px -3px 4px rgba(0, 0, 0, 0.15);
    --bottomright-box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.15);

    /* Шрифты */
    --default-font-size: 13px;
    --error-message-font-size: 12px;
    --header-logo-font-size: calc(var(--default-font-size) + 10px);

    /* Падинги на странице */
    --header-border-padding: 100px;
    --sections-padding: 0 22%;

    /* Шапка */
    --header-height: 65px;
    /* Боковая панель */
    --aside-min-width: 70px;
    --aside-max-width: 230px;
    
}

/* Сброс стилей */
* {
    padding: 0;
    margin: 0;

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Удаление обводки при фокусе */
:focus,
:active {
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

a:focus,
a:active {
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

/* Стили для полосы прокрутки */
::-webkit-scrollbar {
    width: 5px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
    background-color: var(--gray-gray-2);
    cursor: pointer;
    border-radius: 5px;

}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--gray-gray-3);
}

/* Основные стили */
html,
body,
#root {
    display: flex;
    width: 100%;
    min-height: 100vh;
    scroll-behavior: smooth;
    background-color: var(--main-window-gray);
}

.App {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

    position: relative;
}

html.--noscroll,
body.--noscroll,
#root.--noscroll,
.App.--noscroll {
    overflow: hidden !important;
}


.toast-styles {
    font-size: var(--default-font-size);
}

.main {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 5;
    height: fit-content;
}

.mainBlock {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 25px;
    box-sizing: border-box;
    gap: 15px;
}



.default-shadowed-block {
    background-color: var(--white);
    box-shadow: var(--card-box-shadow);
    padding: 40px;
    border-radius: 4px;
}