.main {
    width: 100%;
    height: 100vh;
    margin: 0;
}

.mainBlock {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("media/background/bg-white.png");
    padding: 0;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.authForm {
    width: 582px;
    padding: 55px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;

    border-radius: 5px;
    border: 1px solid #E2E8F0;
    box-shadow: 44px 221px 63px 0px rgba(172, 176, 200, 0.00), 28px 141px 58px 0px rgba(172, 176, 200, 0.01), 16px 79px 49px 0px rgba(172, 176, 200, 0.05), 7px 35px 36px 0px rgba(172, 176, 200, 0.09), 2px 9px 20px 0px rgba(172, 176, 200, 0.10);    background-color: var(--white);

    position: relative;
    z-index: 5;

    box-sizing: border-box;
}

.logoBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}

.logo {
    height: 50px;
    user-select: none;
}

.title {
    font-size: calc(var(--default-font-size) - 1px);
    font-weight: 600;
    user-select: none;
    color: var(--gray-gray-5);
}

.inputsBlock {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px
}

.btnsBlock {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}


.submitBtn {
    width: 100%;
    height: 100%;
    padding: 13px 0;
    border: none;
    font-size: var(--default-font-size);
    font-weight: 500;
    color: var(--white);
    white-space: nowrap;
    border-radius: 5px;
    background-color: var(--blue);
    cursor: pointer;
    transition: background-color 0.3s;
}

.submitBtn:hover {
    background-color: var(--blue-dark-1);
}


@media screen and (max-width: 900px) {
    .authForm {
        width: 540px;
        padding: 40px 60px;
    }
}

@media screen and (max-width: 600px) {

    .authForm {
        width: 100%;
        height: 100vh;
        border-radius: 0;
        padding: 40px 30px;
        justify-content: center;
    }

    .btnsBlock {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        flex-direction: column-reverse;
    }
}