.button {
    display: flex;
    gap: 12px;
    justify-content: space-between;
    align-items: center;
    padding: 13px 12px 13px 12px;
    border-radius: 9px;
    flex-wrap: nowrap;
    white-space: nowrap;
    cursor: pointer;
    border: none;
    background-color: var(--white);
    box-shadow: 0px 97px 27px 0px rgba(163, 159, 193, 0.00), 0px 62px 25px 0px rgba(163, 159, 193, 0.01), 0px 35px 21px 0px rgba(163, 159, 193, 0.03), 0px 16px 16px 0px rgba(163, 159, 193, 0.06), 0px 4px 9px 0px rgba(163, 159, 193, 0.07);
    color: var(--gray-gray-3);
    font-size: var(--default-font-size);
    font-weight: 550;

    transition: background-color 0.4s;
}

.buttonIcon {
    height: 16px;
    width: 16px;
}

.fbc-filter-button--blue {
    background-color: var(--blue);
    color: var(--white);
}

.fbc-filter-button--blue:hover {
    background-color: var(--blue-dark-1);
}


