@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Переменные */
:root {
    /* Цвета */
    --white: #fff;
    --black: #364153;
    --green: #00B77F;
    --green2: #009C88;
    --gray: #585858;
    --gray2: #808080;
    --gray3: #939393;
    --gray4: #BCBCBD;
    --gray5: #d3d3d3;
    --gray6: #ebebeb;
    --gray7: #FAFBFC;
    --purple: #961CF8;
    --purple2: #b45efa;
    --purple3: #d4a0ff;
    --purple4: #F3E3FF;
    --pink: #E10C85;
    --red: #d70000;
    --red2: #e02424;
    --red3: #ec4b4b;
    --blue: #074bc8;
    --blue2: #0a57e6;
    --blue3: #2c6fea;
    --blue4: #457de6;
    --orange: #ffca69;

    /* Градиенты */
    --gradient-lightgreen-darkgreen: linear-gradient(90deg, #00B77F 30.77%, #009C88 100%);

    /* Тени */
    --shadow-form: 0 10px 25px 0 rgba(0, 0, 0, 0.10);


    /* Шрифты */
    --body0: 400 12px/100% 'Montserrat', sans-serif;
    --body1: 400 13px/100% 'Montserrat', sans-serif;
    --body2: 400 14px/100% 'Montserrat', sans-serif;
    --body3: 400 15px/100% 'Montserrat', sans-serif;
    --body4: 400 16px/100% 'Montserrat', sans-serif;
    --body5: 400 17px/100% 'Montserrat', sans-serif;

    /* Падинги на странице */
    --header-border-padding: 100px;
    --sections-padding: 0 22%;
    --page-padding: 25px;

    /* Шапка */
    --header-height: 65px;

    /* Боковая панель */
    --aside-min-width: 70px;
    --aside-max-width: 230px;

}

/* Сброс стилей */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Удаление обводки при фокусе */
:focus,
:active {
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

a:focus,
a:active {
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

/* Стили для полосы прокрутки */
::-webkit-scrollbar {
    width: 5px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
    background-color: var(--gray);
    cursor: pointer;
    border-radius: 5px;

}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--gray-2);
}

/* Основные стили */
html,
body,
#root,
.App {
    display: flex;
    width: 100%;
    min-height: 100vh;
    scroll-behavior: smooth;
    background-color: var(--gray);
}


html.--noscroll,
body.--noscroll,
#root.--noscroll,
.App.--noscroll {
    overflow: hidden !important;
}

a {
    text-decoration: none;
    color: inherit;
    font: inherit;
}

input {
    border: 0;
    background: none;
    outline: none;
}

img {
    width: 100%;
    display: block;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}