.menu {
  position: absolute;
  z-index: 2000;
  min-width: 160px;
}

.menuList {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;

  background: rgba(var(--glass-bg-color), 0.2);
  backdrop-filter: blur(var(--glass-blur));
  -webkit-backdrop-filter: blur(var(--glass-blur));
  border: var(--glass-border);
  border-radius: 10px;
  box-shadow: var(--shadow-modal);
}

.menuItem {
  transition: background-color 0.2s;
}

.menuButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  width: 100%;
  padding: 13px 20px;
  text-align: left;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--gray);
  font: var(--body1);
  transition:
    • color 0.3s,
    background-color 0.35;
}

.menuIcon {
  color: var(--gray);
  width: 16px;
  height: 16px;
  flex: 0 0 auto;
}

.menuLabel {
  flex: 1 1 auto;
}

.menuButton:hover {
  background: rgba(var(--blue6--rgb), 0.4);
}