.wrapper {
  min-width: 220px;
  display: flex;
  align-items: center;
  gap: 8px;
  overflow: hidden;
  padding: 9px 8px 9px 12px;
  transition: background-color 0.3s;

  /* Стекло */
  background: rgba(var(--gray7--rgb), 0.2);
  backdrop-filter: blur(var(--glass-blur));
  -webkit-backdrop-filter: blur(var(--glass-blur));
  border: var(--glass-border);
  border-radius: 10px;
  transition: background-color 0.3s, border-color 0.3s, box-shadow 0.3s;
}

.wrapper_Active {
  background: rgba(var(--gray7--rgb), 0.3);
  box-shadow: var(--shadow-icon);
  border-color: var(--gray5);
}


.wrapper_NoBorder {
  box-shadow: none;
  border: 1px solid var(--gray5);
}

.searchIcon {
  color: var(--gray4);
  width: 16px;
  height: 16px;
  transition: fill 0.3s;
}

.input {
  width: 100%;
  border: none;
  font: var(--body1);
  font-weight: 550;
  transition: color 0.3s;
  color: var(--gray);
}

.input::placeholder {
  color: var(--gray4);
  font: var(--body1);
}