.header {
    position: fixed;
    display: flex;
    width: 100%;
    height: var(--header-height);
    top: 0;
    right: 0;
    left: 0;
    padding: 0 var(--main-content-padding);
    box-sizing: border-box;
    background-color: var(--white);
    border-bottom: 1px solid var(--light-gray-1);
    z-index: 99;
}

.headerBlock {
    width: 100%;
    height: 100%;
    padding: 15px 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between
}

/* Блок Бургера для открытия меню */
.headerBurgerBlock {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    display: none;
}

.headerBurgerButton {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: fit-content;
}

.headerBurgerIcon {
    height: 30px !important;
    width: auto !important;
    stroke: var(--white) !important;
    fill: var(--black-light-1) !important;
    stroke-width: 0.2px !important;
}

/* Блок лого */
.headerLogoBlock {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
}

.headerLogo {
    height: 100%;
    max-height: 100%;
    width: auto;
}

/* Блок контента */
.headerContentBlock {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerContentNav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerContentList {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.headerContentListItem {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contentContainer {
    display: flex;
    align-items: start;
    flex-direction: column;
    position: relative;
}

.contentLabelBlock {
    display: flex;
    align-items: start;
    gap: 4px;
    cursor: pointer;
}

.contentLabel {
    height: 100%;
    font-size: var(--default-font-size);
    color: var(--black-light-1);
    white-space: nowrap;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    padding-top: 5px;
    box-sizing: border-box;
    position: relative;
}

.contentLabel::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    height: 1px;
    width: 0%;
    background-color: var(--black-light-1);
    transition: width 0.4s;
}

.contentContainer:hover .contentLabel::after {
    width: 100%;
}

.contentLableIconBlock {
    height: 100%;
    display: flex;
    align-items: center;
    transition: transform 0.3s;
}

.contentContainer:hover .contentLableIconBlock {
    transform: rotate(-180deg);
}

.contentLableIcon {
    height: 17px !important;
    width: auto !important;
    stroke: var(--white) !important;
    fill: var(--black-light-1) !important;
    stroke-width: 0.7px !important;
}

/* Выпадающее меню */
.popupHeaderMenu {
    width: 90vw;
    position: fixed;
    top: calc(var(--header-height) / 2 + 8px);
    left: 0;
    display: none;
    padding-top: calc(var(--header-height) / 2);
    cursor: default;
    z-index: 100;
}

.popupHeaderMenuSmall {
    position: absolute;
    display: none;
    top: 100%;
    padding-top: calc(var(--header-height) / 2);
}

.contentContainer:hover .popupHeaderMenuSmall {
    display: block;
}

.popupHeaderMenuBlockSmall {
    height: 100%;
    width: 100%;
    background-color: var(--white);
    box-shadow: var(--box-shadow--active);
    padding: 26px;
    box-sizing: border-box;
    display: flex;
}

.contentContainer:hover .popupHeaderMenu {
    display: block;
}

.popupHeaderMenuBlock {
    height: 100%;
    width: 100%;
    background-color: var(--white);
    box-shadow: var(--box-shadow--active);
    padding: 26px 40px 55px;
    box-sizing: border-box;
    display: flex;
    gap: 40px;
    overflow: hidden;
}

.menuCatalogBlock {
    display: flex;
    gap: 135px;
}

.menuCatalogList {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.menuCatalogListItem {
    display: flex;
    align-items: start;
    justify-content: left;
}

.menuCatalogLink {
    font-size: var(--default-font-size);
    color: var(--black-light-1);
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    white-space: nowrap;
}

.menuCatalogLink::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    height: 1px;
    width: 0%;
    background-color: var(--black-light-1);
    transition: width 0.35s;
}

.menuCatalogLink:hover::after {
    width: 100%;
}


/* Блок предложений */
.menuSuggestBlock {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    max-height: 400px;
    width: 100%;
}

.menuSuggestBlockContent {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.menuSuggestImg {
    width: auto;
    height: calc(100% - 20px);
    /* картинка сохраняет пропорции */
    display: block;
    object-fit: cover;
    /* картинка заполняет по ширине */
    flex-shrink: 0;
}

.menuCatalogSuggestText {
    margin-top: 8px;
    text-align: center;
    font-size: var(--default-font-size);
    color: var(--black-light-1);
    letter-spacing: 2px;
    text-transform: uppercase;
    opacity: 0.6;
    transition: opacity 0.3s;
    flex-shrink: 0;
}

.menuSuggestBlockContent:hover .menuCatalogSuggestText {
    opacity: 1;
}

/* расположение карточек */
.menuSuggestBlockContent:nth-child(1) {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
}

.menuSuggestBlockContent:nth-child(2) {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

.menuSuggestBlockContent:nth-child(3) {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
}

.menuSuggestBlockContent:nth-child(4) {
    grid-row: 2 / 3;
    grid-column: 2 / 4;
}



/* Блок функций */
.headerFunctionsBlock {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 15px;
}

.functionalBlock {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.functionalIcon {
    height: 20px !important;
    width: auto !important;
    stroke: var(--white) !important;
    fill: var(--black-light-1) !important;
    stroke-width: 0.2px !important;
}


@media screen and (max-width: 1110px) {

    /* Меняем падинги шапки */
    .headerBlock {
        padding: 12px 0;
    }

    /* Показываем бургер */
    .headerBurgerBlock {
        display: flex;
    }

    /* Перемещаем лого в центр */
    .headerLogoBlock {
        justify-content: center;
    }

    /* Отключаем большие всплывающие окна */
    .popupHeaderMenu {
        display: none !important
    }

    /* Прячем основной контент шапки 
    и преобразуем под боковое меню */
    .headerContentBlock {
        display: block;
        position: fixed;
        width: 0;
        top: calc(var(--header-height) - 1px);
        left: 0;
        right: 100vw !important;
        bottom: 0;

        overflow: hidden;

        background-color: var(--white);
        transition: width 0.3s;
    }

    /* Включить/отключить меню */
    .headerContentBlock__ShowSmall {
        width: 100%;
    }

    /* Nav блок меню */
    .headerContentNav {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;

        margin: 10px var(--main-content-padding);
        box-sizing: border-box;

        overflow: auto;

        border-top: 1px solid var(--light-gray-1);
    }

    /* Список бокового меню */
    .headerContentList {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        gap: 0;
    }

    /* Элемент списка бокового меню */
    .headerContentListItem {
        display: flex;
        align-items: center;
        justify-content: left;

        width: 100%;
        padding: 10px 0;
        box-sizing: border-box;
        border-bottom: 1px solid var(--light-gray-1);
    }

    .contentContainer {
        width: 100%;
    }

    .contentLabelBlock {
        width: 100%;
        display: flex;
        align-items: start;
        justify-content: space-between;
    }

    /* Увеличиваем шрифт */
    .contentLabel {
        font-size: calc(var(--default-font-size) + 2px);
    }

    .contentLableIcon {
        height: 23px !important;
    }

    .contentContainer:hover .contentLableIconBlock {
        transform: rotate(0);
    }

    .contentLableIconBlock__Active {
        transform: rotate(-180deg) !important;
    }

    /* Убираем подчеркивание */
    .contentLabel::after {
        display: none;
    }

    /* Маленькое выпадающее меню */
    .popupHeaderMenuSmall {
        position: relative;
        width: 100%;
        padding-top: 12px;
    }

    .contentContainer:hover .popupHeaderMenuSmall {
        display: none;
    }

    .popupHeaderMenuSmallOpen {
        display: block !important;
    }

    .popupHeaderMenuBlockSmall {
        height: 100%;
        width: 100%;
        background-color: transparent;
        box-shadow: none;
        padding: 0;
    }

    .menuCatalogList {
        gap: 15px;
    }

    .menuCatalogListItem {
        display: flex;
        align-items: start;
        justify-content: left;
    }

    .menuCatalogLink {
        font-size: calc(var(--default-font-size));
        font-weight: 500;
        text-transform: initial;
        opacity: 0.9;
        transition: opacity 0.3s;
    }

    .menuCatalogLink:hover {
        opacity: 1;
    }

    .menuCatalogLink::after {
        display: none
    }

}