.advBannerBox {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.advBannerLink {
    width: 100%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.advBannerImg {
    width: 100%;
    height: fit-content;
    background-size: cover;
    background-position: center;
}