.homePageSection {
    padding: 0 var(--main-content-padding);
}

.homePageSectionBlock {
    display: flex;
    flex-direction: column;
    gap: 34px;
}

.sectionTitle {
    font-family: "Prata", serif;
    font-size: calc(var(--default-font-size) + 11px);
    text-transform: uppercase;
}