.field {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.label {
	font: var(--body1);
	color: var(--black);
	padding-left: 3px;
}

.inputCont {
	width: 100%;
	border: 1px solid var(--gray5);
	padding: 11px 14px;
	border-radius: 8px;
	cursor: text;
	transition: border-color 0.3s, background-color 0.3s;

	display: grid;
	grid-template-columns: 1fr;
	gap: 15px;
	align-items: center;
	background-color: var(--gray7);
	box-shadow: 0 4px 24px 0 var(--gray7);
}

.inputCont:focus-within {
	background-color: var(--white);
	border-color: var(--blue);
}

.inputCont:has(input:not(:placeholder-shown)) {
	background-color: var(--white);
}

.inputCont.error {
	border-color: var(--red);
}

.inputCont>svg {
	width: 20px;
	height: 20px;
	transition: color 0.3s;
	color: var(--gray4);
}

.inputCont:focus-within>svg:first-child,
.inputCont:has(input:not(:placeholder-shown))>svg:first-child {
	color: var(--blue);
}

.inputCont.error>svg:first-child {
	color: var(--red);
}

.withStartIcon {
	grid-template-columns: 22px 1fr;
}

.withEndIcon {
	grid-template-columns: 1fr 20px;
}

.withStartIcon.withEndIcon {
	grid-template-columns: 22px 1fr 20px;
}

.inputCont.withStartIcon .input {
	padding-left: 12px;
	border-left: 1px solid var(--gray4);
}

.input {
	width: 100%;
	display: flex;
	align-items: center;
}

.disable {
	background-color: var(--gray6) !important;
	cursor: not-allowed;
	opacity: 0.6;
}

.clearBtn {
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	background: transparent;
	cursor: pointer;
	border-radius: 100%;
}

.inputCont.error .clearBtn {
	color: var(--red);
}

.clearBtn svg {
	width: 19px;
	height: 19px;
	display: block;
	color: var(--gray4);
	transition: color 0.3s;
}

.clearBtn:hover svg {
	color: var(--red);
}

.input input {
	width: 100%;
	font: var(--body1);
	color: var(--black);
	background: transparent;
	border: none;
	outline: none;
}

/* .input input:disabled {
	color: var(--gray);
	-webkit-text-fill-color: var(--gray);
	opacity: 1;
	cursor: not-allowed;

} */

.input input::placeholder {
	color: var(--gray4);
	opacity: 1;
}