.mainLayout {
	width: 100%;
}

.allContent {
	padding: var(--page-padding);
	padding-top: calc(var(--header-height) + var(--page-padding));
	padding-left: calc(var(--aside-width) + var(--page-padding));
	transition: padding 0.4s;
	height: 100%;
}

.wideSidbar {
	padding-left: calc(var(--aside-width) + var(--page-padding));
}