.mainLayout {
	width: 100%;
}

.allContent {
	padding-left: calc(var(--aside-width) + var(--page-padding));
	transition: padding 0.4s;
	height: 100%;
}

.wideSidbar {
	padding-left: calc(var(--aside-width) + var(--page-padding));
}