.main {
    width: 100%;
    height: 100vh;
    margin: 0;
}

.mainBlock {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("@/assets/backgrounds/login-white-bg.jpg");
    padding: 0;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
