.header {
    height: calc(var(--header-height));
    background-color: var(--black);
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.headerAdvertLine {
    width: 100%;
    background-color: var(--black);
    height: 30px;
}

.headerBlock {
    height: 100%;
    background-color: var(--gray);
    display: flex;
    padding: 10px 15px;
}

.headerContendBlock {
    width: 100%;
    height: 100%;
    background-color: red;
}