/* src/components/inputs/DefaultTextAreaInputStyle.css */

/* Общие стили для блока с textarea */
.dtai-textarea-input-block {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  /* Стили для метки (label) */
  .dtai-textarea-input-block label {
    margin-bottom: 8px;
    font-size: var(--default-font-size);
    color: var(--black);
    font-weight: 500;
  }
  
  /* Стили для поля ввода (textarea) */
  .dtai-textarea-input-block .dtai-textarea-input {
    padding: 11.8px 12px;
    border: 1px solid #ccc;
    border-radius: 12px;
    min-height: 100px;
    max-height: 200px;
    font-size: var(--default-font-size);
    transition: border-color 0.3s, box-shadow 0.3s;
    resize: vertical; /* Можно поменять на resize: none; или both; по необходимости */
  }
  
  /* Стили для поля ввода при фокусе */
  .dtai-textarea-input-block .dtai-textarea-input:focus {
    border-color: var(--blue-light-3);
    box-shadow: 0 0 10px var(--blue-light-1);
    outline: none;
  }
  
  /* Стили для placeholder */
  .dtai-textarea-input-block .dtai-textarea-input::placeholder {
    color: #aaa;
    font-style: italic;
    font-size: calc(var(--default-font-size) - 1px);
  }
  
  /* Стили для отключённого состояния */
  .dtai-textarea-input-block .dtai-textarea-input:disabled {
    background-color: #f5f5f5;
    border-color: #ddd;
    cursor: not-allowed;
  }
  
  /* Стили при ошибке */
  .dtai-textarea-input-block .dtai-textarea-input.error {
    border-color: var(--red);
    box-shadow: 0 0 2px var(--red);
  }
  
  /* Сообщения об ошибках */
  .dtai-error-message {
    color: var(--red);
    font-size: var(--error-message-font-size);
    margin-top: 5px;
  }
  
  /* Звездочка для обязательных полей */
  .dtai-required {
    color: var(--red);
    margin-left: 4px;
  }
  