.title {
    width: 100%;
    font-size: calc(var(--default-font-size) + 5px);
    font-weight: 600;
    font-style: normal;
    line-height: normal;
    text-align: left;
}

.smallTitle {
    margin-left: 8px;
    font-size: calc(var(--default-font-size) - 2px);
    font-weight: 400;
    color: var(--gray-gray-4)
}
