.fcb-component-filter-block {
    height: fit-content;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0px 97px 27px 0px rgba(163, 159, 193, 0.00), 0px 62px 25px 0px rgba(163, 159, 193, 0.01), 0px 35px 21px 0px rgba(163, 159, 193, 0.03), 0px 16px 16px 0px rgba(163, 159, 193, 0.06), 0px 4px 9px 0px rgba(163, 159, 193, 0.07);
    border: 1px solid #FFF;
    position: relative;
    transition: width 0.4s ;
    z-index: 95;
}

.fcb-component-filter-block--active {
    border-color: var(--blue);
}

.fcb-component-filter-block--active .fcb-component-arrowdown-icon {
    transform: rotate(-180deg);
}

.fcb-component-filter-block-clicker {
    padding: 13px 12px 13px 12px;
    border-radius: 9px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    gap: 12px;

    transition: background-color 0.4s, color 0.4s;

}

.fcb-component-filter-block-clicker--selected {
    background-color: var(--blue);
}

.fcb-component-filter-block-clicker--selected p {
    color: var(--white) !important;
}

.fcb-component-filter-block p {
    font-size: var(--default-font-size);
    font-weight: 550;
    color: var(--gray-gray-3);
    user-select: none;
    transition: color 0.4s;
}

.fcb-component-filter-counter {
    background-color: var(--white);
    font-size: calc(var(--default-font-size) - 3px);
    font-weight: 550;
    height: 17px;
    width: 17px;
    border-radius: 100%;;
    color: var(--blue);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.aside-list-item-icon-box {
    display: flex;
    align-items: center;
}

.fcb-component-arrowdown-icon {
    height: auto;
    padding-top: 4px;
    fill: var(--gray-gray-2);
    transition: transform 0.3s;
}


/* часть с позицией Absolute */
.fcb-component-abs-block {
    position: absolute;
    height: 0;
    width: 0;
    top: 47px;
    right: 0;
    z-index: 95;
    background-color: var(--white);
    border-radius: 12px;
    border: 1px solid #FFF;
    box-shadow: 0px 97px 27px 0px rgba(163, 159, 193, 0.00), 0px 62px 25px 0px rgba(163, 159, 193, 0.01), 0px 35px 21px 0px rgba(163, 159, 193, 0.03), 0px 16px 16px 0px rgba(163, 159, 193, 0.06), 0px 4px 9px 0px rgba(163, 159, 193, 0.07);
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0;
    opacity: 0;
    transition: height 0.3s, width 0.3s, padding 0.3s, opacity 0.2s;
}

.fcb-component-abs-block--show {
    width: auto;
    height: auto;
    opacity: 1;
    padding: 20px 10px;
}

.fcb-component-abs-content-block {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.fcb-component-abs-block p {
    color: var(--black);
    font-size: var(--default-font-size);
    font-weight: 600;
    padding: 0 16px;
    white-space: nowrap;
    box-sizing: border-box;
}


.fcb-component-abs-search-block {
    display: flex;
    align-items: center;
    padding: 0 12px;
    gap: 8px;
}


.fcb-search-icon {
    fill: var(--gray-gray-3);
    transform: rotate(0deg);
}

.fcb-filter-search {
    border: none;
    font-size: var(--default-font-size);
}

.fcb-filter-search::placeholder {
    color: var(--gray-gray-3);
    font-size: calc(var(--default-font-size) - 1px);
    font-weight: 400;
    user-select: none;
}


/* Список в фильтре */

.fcb-abs-filter-list-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 100%;
}

.fcb-abs-filter-list-block ul {
    width: 100%;
    list-style: none;
    overflow-y: auto;
    height: 270px;
}

/* Стили для полосы прокрутки */
.fcb-abs-filter-list-block ul::-webkit-scrollbar {
    width:4px;
}

.fcb-abs-filter-list-block ul::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

.fcb-abs-filter-list-block ul::-webkit-scrollbar-thumb {
    background-color: var(--gray-gray-2);
    cursor: pointer;
    border-radius: 8px;
}

.fcb-abs-filter-list-block ul::-webkit-scrollbar-thumb:hover {
    background-color: var(--gray-gray-2);
}

.fcb-abs-filter-list-block ul .list-item{
    padding: 16px;
    color: var(--black);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 14px;
    user-select: none;
    transition: background-color 0.3s;
}

.fcb-abs-filter-list-block ul .list-item:hover {
    background-color: var(--gray-gray-1);
}

.list-item__filter-data-block {
    display: flex;
    gap: 10px;
    align-items: center;
    box-sizing: border-box;
}

.list-item__filter-data-block img {
    height: 20px;
    width: 20px;
    border-radius: 100%;
}

.list-item__filter-data-block span {
    font-size: calc(var(--default-font-size) + 1px);
    font-weight: 500;
}


/* Кнопки формы для сохранения */
.fcb-filter-submit-block {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.fcb-filter-submit-btns-block {
    display: flex;
    gap: 20px;
}

.fcb-submit-filter-button {
    border: 0;
    display: flex;
    height: 40px;
    padding: 0px 20px;
    align-items: center;
    border-radius: 10px;
    background: var(--gray-gray-1);
    color: var(--gray-gray-3);
    font-size: calc(var(--default-font-size) - 2px);
    cursor: pointer;
    transition: color 0.3s, background-color 0.3s;
}

.fcb-submit-filter-button--active {
    color: var(--white);
    background-color: var(--blue);
}


@media screen and (max-width: 1852px) {
    .fcb-component-filter-block p {
        font-size: calc(var(--default-font-size) - 1px);
    }

    .fcb-component-filter-block-clicker {
        padding: 12px 8px 12px 12px;
    }
    
}

@media screen and (max-width: 1280px) {
    .fcb-component-filter-block p {
        font-size: calc(var(--default-font-size) - 1px);
    }

    .fcb-component-filter-block-clicker {
        padding: 11px 8px 11px 12px;
    }
    
}