.ppf-product-price-filter-block {
    display: flex;
    align-items: center;
    padding: 0 8px;
    box-sizing: border-box;
    border-radius: 10px;

    transition: background-color 0.4s;
}

.ppf-product-price-filter-block p {
    font-size: calc(var(--default-font-size) + 1px);
    font-weight: 550;
    color: var(--white);
}

.ppf-product-price-filter-block--inserted {
    background-color: var(--blue);
}

.ppf-float-input-comp .dtfi-float-input {
    width: fit-content;
    border-radius: 10px;
}

.ppf-float-input-comp label {
    display: none;
}

.ppf-float-input-comp .dtfi-float-input-suffix {
    font-size: calc(var(--default-font-size) + 1px);
    font-weight: 550;
    color: var(--white);
}


.ppf-float-input-comp .dtfi-float-input-wrapper .dtfi-float-input {
    border: none;
    padding-left: 7px;
    padding-right: 7px;
    font-size: calc(var(--default-font-size) + 1px);
    width: 100px;
    font-weight: 550;
    background-color: transparent;
    box-shadow: none !important;
    outline: none;
}

.ppf-float-input-comp .dtfi-float-input-wrapper input::placeholder {
    color: var(--gray-gray-3);
    font-style: initial;
}


.ppf-float-input-comp--inserted .dtfi-float-input-wrapper input {
    color: var(--white);
}