.fcb-sf-search-filter-block {
    display: flex;
    gap: 8px;
    cursor: default;
}

.fcb-sf-search-icon {
    fill: var(--gray-gray-3);
}

.fcb-sf-search-filter-input {
    border: none;
    font-size: calc(var(--default-font-size) + 1px);
    min-width: 200px;
    font-weight: 550;
    background-color: transparent;
    outline: none;
}

.fcb-sf-search-filter-input::placeholder {
    color: var(--gray-gray-3)
}

.fcb-sf-search-filter-block--inserted {
    background-color: var(--blue);
}

.fcb-sf-search-filter-block--inserted .fcb-sf-search-filter-input {
    color: var(--white)
}

.fcb-sf-search-filter-block--inserted .fcb-sf-search-icon{
    fill: var(--white);
}


@media screen and (max-width: 1852px) {
    .fcb-sf-search-filter-input {
        font-size: calc(var(--default-font-size) - 1px);
    }
}

@media screen and (max-width: 1280px) {
    .fcb-sf-search-filter-input {
        font-size: calc(var(--default-font-size) - 1px);
    }
}
