.aside {
  position: absolute;
  z-index: 99;
  bottom: 0;
  top: 0;
  left: 0;
  width: var(--aside-min-width);
  display: flex;
  flex-direction: column;
  box-shadow: var(--shadow-sidebar);
  border-right: var(--glass-border);
  transition: width 0.5s ease;
}

.asideWide {
  width: var(--aside-max-width);
}

.asideBlock {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.headerBlock {
  width: 100%;
  background-color: var(--blue7);
  border-bottom: 1px solid var(--gray6);
  display: flex;
  padding: 30px 19px;
  gap: 14px;
}

.logoBlock {
  width: 40px;
  height: 40px;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  border-radius: 10px;
  background: var(--gradient-darkgray);
  box-shadow: var(--shadow-icon);
  box-sizing: border-box;
}

.logo {
  fill: var(--white);
}

.titleBlock {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  overflow-x: hidden;
  white-space: nowrap;
  scrollbar-width: none;
}

.title {
  font: var(--body7);
  font-weight: 600;
  color: var(--gray);

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  cursor: default;
}

.subTitle {
  font: var(--body0);
  color: var(--gray3);

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  cursor: default;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px;
  box-sizing: border-box;
  overflow-x: hidden;

  background: var(--glass-bg);
  backdrop-filter: blur(var(--glass-blur));
  -webkit-backdrop-filter: blur(var(--glass-blur));
}

.contentList {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.menuListLink {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.menuListLink__wide {
  justify-content: flex-start;
  box-sizing: border-box;
}

.menuListLink__active,
.menuListLink:hover {
  background-color: rgba(var(--blue6--rgb), 0.6);
  backdrop-filter: blur(1px);
}

.menuListLink__active .menuListTitle,
.menuListLink__active .menuListIcon {
  color: var(--gray);
  font-weight: 580;
  stroke-width: 2.3px;
}

.menuListTitle {
  display: none;
  color: var(--gray);
  font: var(--body1);
  white-space: nowrap;
  transition: visibility 0.3s, opacity 0.3s;
}

.menuListTitle__visible {
  display: flex;
  opacity: 1;
  visibility: visible;
}


.menuListIcon {
  color: var(--gray);
  min-height: 18px;
  min-width: 18px;
  height: 18px;
  width: 18px;
  transition: color 0.4s;
}

.hideSidebarButton {
  position: absolute;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--glass-border);
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-radius: 50%;
  bottom: 121px;
  right: -16px;
  rotate: -45deg;
  background: var(--glass-bg);
  backdrop-filter: blur(var(--glass-blur));
  -webkit-backdrop-filter: blur(var(--glass-blur));
  pointer-events: auto;
}

.hideSidebarIcon {
  color: var(--gray3);
  rotate: 225deg;
  height: 12px;
  width: 12px;
  margin-left: 5px;
  margin-top: 5px;
  transition: transform 0.5s ease;
}

.hideSidebarIcon__open {
  transform: rotate(-180deg);
}

.userBlock {
  width: 100%;
  background-color: var(--blue7);
  border-top: 1px solid var(--gray6);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px 20px 15px;
  overflow: hidden;
}

.userInfoBlock {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
}

.userPhoto {
  border-radius: 100%;
  height: 36px;
  width: 36px;
  border: 1px solid var(--gray5);
}

.userNameBlock {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: start;
  gap: 5px;
  overflow-x: hidden;
  white-space: nowrap;
  scrollbar-width: none;
}

.userName {
  font: var(--body1);
  font-weight: 600;
  color: var(--gray);

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;

  cursor: pointer;
}

.userEmail {
  font: var(--body-1);
  color: var(--gray3);

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;

  cursor: pointer;
}

.exitBlock {
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid transparent;

  transition: background-color 0.3s, border-color 0.3s;
}

.exitBlock:hover {
  background-color: var(--blue6);
  border-color: var(--gray6);
}

.exitIcon {
  height: 15px;
  width: 15px;
  color: var(--gray2);
  transition: color 0.5s;
}

.exitBlock:hover .exitIcon {
  color: var(--pink);
}