.carouselWrapper {
  position: relative;
}

.arrowsTop {
  position: absolute;
  top: -60px;
  right: 0;
  display: flex;
  justify-content: flex-end;
  gap: 25px;
  margin-bottom: 15px;
}

.arrow {
  cursor: pointer;
  background: none;
  border: none;
  color: var(--black-light-1);
  font-size: 20px;
  display: flex;
  align-items: center;
  transition: opacity 0.3s;
}

.arrow:hover {
  opacity: 0.7;
}

.arrow svg {
  height: 40px;
}

.disabled {
  opacity: 0.3;
}

.slide {
  flex: 0 0 calc((100% - (35px * 4)) / 5); /* ровно 5 карточек + 4 gap */
}
