.filter {
  position: relative;
}

.trigger {
  display: inline-flex;
  align-items: center;
  gap: 9px;
  padding: 11px 8px 11px 12px;
  border-radius: 10px;
  cursor: pointer;
  color: var(--gray4);
  user-select: none;

    /* Стекло */
    background: rgba(var(--gray7--rgb), 0.2);
    backdrop-filter: blur(var(--glass-blur));
    -webkit-backdrop-filter: blur(var(--glass-blur));
    border: var(--glass-border);
    border-radius: 10px;
    transition: background-color 0.3s, border-color 0.3s, box-shadow 0.3s;
}

.triggerBordered {
  box-shadow: none;
  border: 1px solid var(--gray5);
}

.triggerLabel {
  font: var(--body1);
  font-weight: 550;
  transition: color 0.3s;
  white-space: nowrap;
}

.triggerSelected {
  background: rgba(var(--gray7--rgb), 0.3);
  box-shadow: var(--shadow-icon);
  border-color: var(--gray5);
}

.triggerSelected .triggerLabel {
  color: var(--gray);
}

.chevronIcon {
  height: auto;
  padding-top: 4px;
  fill: var(--gray4);
  transition: transform 0.3s;
}

.filterActive .chevronIcon {
  transform: rotate(-180deg);
}

.filterActive .trigger {
  border-color: var(--blue);
}

.popover {
  position: absolute;
  top: calc(100% + 10px);
  right: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 10px;
  z-index: 85;
  white-space: nowrap;

  background: rgba(var(--gray7--rgb), 0.7);
  backdrop-filter: blur(var(--glass-blur));
  -webkit-backdrop-filter: blur(var(--glass-blur));
  border: 1px solid var(--gray5);
  border-radius: 10px;
  box-shadow: var(--shadow-modal);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  user-select: none;
}

.layout {
  display: flex;
  gap: 15px;
}

.presets {
  min-width: 120px;
}

.presetList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.presetItem {
  font: var(--body1);
  padding: 7px 12px;
  letter-spacing: 0.2px;
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.2s;
  color: var(--gray);
}

.presetItem:hover {
  background-color: rgba(var(--blue6--rgb), 0.5);
}

/* Календарь */
.calendarBox {
  flex: 1;
}

.calendar {
  width: 100%;
}

/* Кнопки Apply / Reset */
.actions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.actionsRow {
  display: flex;
  gap: 20px;
}
