.filter {
  position: relative;
}

.trigger {
  display: inline-flex;
  align-items: center;
  gap: 9px;
  padding: 11px 8px 11px 12px;
  border-radius: 10px;
  background-color: var(--bg-primary);
  border: 1px solid var(--bg-primary);
  box-shadow: var(--shadow);
  cursor: pointer;
  color: var(--text-placeholder);
  user-select: none;
  transition: background-color 0.3s;
}

.triggerBordered {
  box-shadow: none;
  border: 1px solid var(--border-primary);
}

.triggerLabel {
  font: var(--body1);
  font-weight: 550;
  transition: color 0.3s;
  white-space: nowrap;
}

.triggerLabelActive {
  font: var(--body1);
  font-weight: 550;
  transition: color 0.3s;
  white-space: nowrap;
  color: var(--black-inverted);
}

.triggerSelected {
  font: var(--body1);
  background-color: var(--border-accent);
}

.triggerSelected .triggerLabel {
  color: var(--static-white);
}

.chevronIcon {
  height: auto;
  padding-top: 4px;
  fill: var(--gray-gray-2);
  transition: transform 0.3s;
}

.filterActive .chevronIcon {
  transform: rotate(-180deg);
}

.filterActive .trigger {
  border-color: var(--border-accent);
}

.popover {
  position: absolute;
  top: calc(100% + 10px);
  right: 0;
  background-color: var(--bg-primary);
  border-radius: 12px;
  border: var(--border-modal);
  box-shadow: var(--shadow);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 10px;
  z-index: 85;
  white-space: nowrap;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  user-select: none;
}

.layout {
  display: flex;
  gap: 16px;
}

.presets {
  min-width: 120px;
}

.presetList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.presetItem {
  font: var(--body1);
  padding: 10px 12px;
  letter-spacing: 0.2px;
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.2s;
  color: var(--text-primary);
}

.presetItemActive {
  background-color: var(--border-accent);
  color: var(--static-white);
}

.presetItemActive:hover {
  background-color: var(--border-accent) !important;
}

.presetItem:hover {
  background-color: var(--bg-tertiary);
}

/* Календарь */
.calendarBox {
  flex: 1;
}

.calendar {
  width: 100%;
}

/* Кнопки Apply / Reset */
.actions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.actionsRow {
  display: flex;
  gap: 20px;
}
