.buttonBlock {
    width: 100%;
    display: flex;
    align-items: center;
}

.button {
    padding: 13px 35px 10px 35px;
    font-size: var(--default-font-size);
    color: var(--black-light-1);
    letter-spacing: 2px;
    text-transform: uppercase;
    box-sizing: border-box;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid var(--black-light-1);
    transition: box-shadow 0.3s;
}

.button:hover {
    box-shadow: 0 0 0 1px var(--black-light-1)
}