.wrapper {
    display: grid;
    grid-template-columns: 60px 0.4fr;
    gap: 5px;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    --image-ratio: 16 / 9; /* по умолчанию */
}

.mainImageBlock {
    width: 100% !important;
    height: 100%; 
    aspect-ratio: var(--image-ratio);
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainImage {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    aspect-ratio: var(--image-ratio);
    object-fit: cover;
}

.galleryBlock {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 2px;
    box-sizing: border-box;
}

.galleryBlock::-webkit-scrollbar {
    display: none;
}

/* Для Firefox */
.galleryBlock {
    scrollbar-width: none;
}

.galleryItem {
    width: 100%;
    aspect-ratio: var(--image-ratio);
    flex-shrink: 0;
    opacity: 0.6;
    cursor: pointer;
    transition: box-shadow 0.5s, opacity 0.5s;
    border-radius: 5px;
    overflow: hidden;
}

.galleryItem:hover {
    opacity: 1;
    box-shadow: var(--shadow-icon);
}

.galleryItemActive {
    opacity: 1;
    box-shadow: var(--shadow-icon);
}

.galleryItemImage {
    width: 100%;
    height: 100%;
    aspect-ratio: var(--image-ratio);
    object-fit: cover;
    display: block;
}
