.mainLayout {
	width: 100%;
	background: var(--gradient-lightgray);
	display: flex;
	justify-content: center;
}

.allContent {
	width: 100%;
	max-width: 2000px;
	padding: var(--page-top-padding) var(--page-right-padding) var(--page-bottom-padding) var(--page-left-padding);
	padding-left: calc(var(--aside-min-width) + var(--page-left-padding));
	transition: padding 0.4s;
}

.wideSidbar {
	padding-left: calc(var(--aside-max-width) + var(--page-left-padding));
}